
/*-----------commun---------------*/
main, footer,article {
  background-color: #607D8B;
  color: white;
}
/*--------spécifique-------------*/
article{
  border-radius:10px;
  border:3px solid #e2c209;
  margin-top: 30px;
}

header{
  text-align: center;
}

.titre{
  display: inline-block;
  text-align: center;
  width: 90%;
  height: 75%;

}

nav{
  width : 80%;
  margin-left: 10%;
  height:40%;
  border-radius:10px;
  border:3px solid #e2c209;
  margin-top: 30px;
}

.informations{
  display: inline-block;
  width: 60%;
  height: 20%;
  border: 2px solid red;
  border-radius: 10px;
  margin-left: 20%;
  margin-top: 30px;
  text-align: center;
}

.card{
  width: 29rem;
   background-color:#607D8B;
}

/*--------titre------------------*/
h2, thead {
  color: #e2c209
}


/*--------footer----------------*/
footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}

/*-------responsive-------*/
@media (max-width: 575.98px) {

}

@media (max-width: 576px) and (max-width: 767.98px) {

}

@media(min-width: 768px) and (max-width: 991.98px){


}

@media (min-width: 992px) and (max-width: 1199.98px) {


}

@media (min-width: 1200px) {


}